# .NET Core files
bin/
obj/
*.dll
*.exe

# Visual Studio files
.vs/
*.suo
*.user
*.psess
*.cache
*.log
*.vspscc
*.vssscc
*.pdb
*.ncrunch*
*.sln.docstates

# NuGet packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Other files and directories
node_modules/
bower_components/
*.bak
*.tmp
*.csproj.user
Thumbs.db
ehthumbs.db
Desktop.ini
